{% extends "/base.html" %}
{% block title %}Множества{% endblock %}
{% block body %}
 	<div>
        <div class="page">
            <h1>Урок 10. Множества</h1>
            <h2>1. Множества</h2>
			<p>Множество в языке Питон — это структура данных, эквивалентная множествам в математике.
			Множество может состоять из различных элементов, порядок элементов в множестве неопределен.
			В множество можно добавлять и удалять элементы, можно перебирать элементы множества, можно
			выполнять операции над множествами (объединение, пересечение, разность). Можно проверять принадлежность элемента множеству.</p>
			<p> В отличие от массивов, где элементы хранятся в виде последовательного списка,
			в множествах порядок хранения элементов неопределен (более того, элементы множества хранятся не подряд,
			как в списке, а при помощи хитрых алгоритмов). Это позволяет выполнять операции типа “проверить принадлежность элемента множеству” быстрее, 
			чем просто перебирая все элементы множества.</p>
			<p> Элементами множества может быть любой неизменяемый тип данных: числа, строки, кортежи. 
			Изменяемые типы данных не могут быть элементами множества, в частности, нельзя сделать элементом множества
			список (но можно сделать кортеж) или другое множество. Требование неизменяемости элементов множества
			накладывается особенностями представления множества в памяти компьютера.</p>
			<h2>Задание множеств</h2>
			<p>Множество задается перечислением всех его элементов в фигурных скобках. Исключением явлеется пустое множество, которое можно создать при помощи функции set().
			Если функции set передать в качестве параметра список, строку или кортеж, то она вернёт множество, составленное из элементов списка, строки, кортежа. Например:</p>
			<iframe src="https://trinket.io/embed/python/53e4d2204f" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
			<p>выведет {'e', 'q', 'r', 't', 'w', 'y'}.</p>
			<p> Каждый элемент может входить в множество только один раз, порядок задания элементов неважен. Например, программа:</p>
			<iframe src="https://trinket.io/embed/python/6a63474045" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
			<p>выведет True, так как A и B — равные множества.</p>
			<p> Каждый элемент может входить в множество только один раз. set('Hello') вернет множество из четырех элементов: {'H', 'e', 'l', 'o'}.</p>
			<h2>Работа с элементами множеств</h2>
			<p>Узнать число элементов в множестве можно при помощи функции len.</p>
			<p> Перебрать все элементы множества (в неопределенном порядке!) можно при помощи цикла for:</p>
			<iframe src="https://trinket.io/embed/python/91a2ac302d" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
			<p>Проверить, принадлежит ли элемент множеству можно при помощи операции in, возвращающей значение типа bool.
			Аналогично есть противоположная операция not in. Для добавления элемента в множество есть метод add:</p>
			<iframe src="https://trinket.io/embed/python/38d30347ea" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
			<p>Для удаления элемента x из множества есть два метода: discard и remove. Их поведение различается только в случае, когда удаляемый элемент отсутствует в множестве.
			В этом случае метод discard не делает ничего, а метод remove генерирует исключение KeyError.</p>
			<p> Наконец, метод pop удаляет из множества один случайный элемент и возвращает его значение. Если же множество пусто, то генерируется исключение KeyError.</p>
			<p> Из множества можно сделать список при помощи функции list.</p>
			<h2>Операции с множествами</h2>
			<p>С множествами в питоне можно выполнять обычные для математики операции над множествами.</p>
        </div>
    </div>
{% endblock %}



         