{% extends "/base.html" %}
{% block title %}Забастовки{% endblock %}
{% block body %}
    <div class="page">
        <h1 style="line-height: 40px;">Урок 10. Множества. Задача "Забастовки"</h1>
        <hr>
        <p>
                <span style="font: normal normal normal 26px/50px SF UI Text;
                letter-spacing: 0.26px;">Инструкции</span>
            <br>
            <span style="font: normal normal normal 22px/50px SF UI Text;
                letter-spacing: 0.22px;">Политическая жизнь одной страны очень оживленная. В стране действует <code
                    style="color:#22A10A">K</code> политических партий, каждая из которых регулярно объявляет национальную забастовку. Дни, когда хотя бы одна из партий объявляет забастовку, при условии, что это не суббота или воскресенье (когда и так никто не работает), наносят большой ущерб экономике страны. i-я партия объявляет забастовки строго каждые <code
                    style="color:#22A10A">b_i</code> дней, начиная с дня с номером <code
                    style="color:#22A10A">a_i</code>. То есть i-я партия объявляет забастовки в дни <code
                    style="color:#22A10A">a_i</code>, <code style="color:#22A10A">a_i + b_i</code>, <code
                    style="color:#22A10A">a_i + 2 * b_i</code> и т.д. Если в какой-то день несколько партий объявляет забастовку, то это считается одной общенациональной забастовкой. В календаре страны <code
                    style="color:#22A10A">N</code> дней, пронумерованных, начиная с единицы. Первый день года является понедельником, шестой и седьмой дни года — выходные, неделя состоит из семи дней. В первой строке даны числа <code
                    style="color:#22A10A">N</code> и <code style="color:#22A10A">K</code>. Далее идет <code
                    style="color:#22A10A">K</code> строк, описывающие графики проведения забастовок. i-я строка содержит числа <code
                    style="color:#22A10A">a_i</code> и <code style="color:#22A10A">b_i</code>. Вам нужно определить число забастовок, произошедших в этой стране в течении года.</span>
            <br>
        </p>
        <hr>
        <iframe src="https://trinket.io/embed/python/93deb97b44" width="100%" height="356" frameborder="0"
                marginwidth="0" marginheight="0" allowfullscreen></iframe>
        <!-- <table height = "216px", width = "1289px", border = "2px"><tr><td></td></tr> -->
        </table>
    </div>
{% endblock %}