{% extends "/base.html" %}
{% block title %}Полиглоты{% endblock %}
{% block body %}
    <div class="page">
        <h1 style="line-height: 40px;">Урок 10. Множества. Задача "Полиглоты"</h1>
        <hr>
        <p>
                <span style="font: normal normal normal 26px/50px SF UI Text;
                letter-spacing: 0.26px;">Инструкции</span>
            <br>
            <span style="font: normal normal normal 22px/50px SF UI Text;
                letter-spacing: 0.22px;">Каждый из некоторого множества школьников некоторой школы знает некоторое количество языков. Нужно определить сколько языков знают все школьники, и сколько языков знает хотя бы один из школьников. В первой строке задано количество школьников. Для каждого из школьников сперва записано количество языков, которое он знает, а затем - названия языков, по одному в строке. В первой строке выведите количество языков, которые знают все школьники. Начиная со второй строки - список таких языков. Затем - количество языков, которые знает хотя бы один школьник, на следующих строках - список таких языков. Языки нужно выводить в лексикографическом порядке, по одному на строке.</span>
            <br>
        </p>
        <hr>
        <iframe src="https://trinket.io/embed/python/93deb97b44" width="100%" height="356" frameborder="0"
                marginwidth="0" marginheight="0" allowfullscreen></iframe>
        <!-- <table height = "216px", width = "1289px", border = "2px"><tr><td></td></tr> -->
        </table>
    </div>
    </div>
{% endblock %}