{% extends "/base.html" %}
{% block title %}Количество совпадающих чисел{% endblock %}
{% block body %}
    <div class="page">
        <h1 style="line-height: 40px;">Урок 10. Множества. Задача "Количество совпадающих чисел"</h1>
        <hr>
        <p>
                <span style="font: normal normal normal 26px/50px SF UI Text;
                letter-spacing: 0.26px;">Инструкции</span>
            <br>
            <span style="font: normal normal normal 22px/50px SF UI Text;
                letter-spacing: 0.22px;">Даны два списка чисел. Посчитайте, сколько чисел содержится одновременно как в первом списке, так и во втором. Примечание. Эту задачу на Питоне можно решить в одну строчку.</span>
            <br>
        </p>
        <hr>
        <iframe src="https://trinket.io/embed/python/93deb97b44" width="100%" height="356" frameborder="0"
                marginwidth="0" marginheight="0" allowfullscreen></iframe>
        <!-- <table height = "216px", width = "1289px", border = "2px"><tr><td></td></tr> -->
        </table>
    </div>
    </div>
{% endblock %}

         