{% extends "/base.html" %}
{% block title %}Кубики{% endblock %}
{% block body %}
    <div class="page">
        <h1 style="line-height: 40px;">Урок 10. Множества. Задача "Кубики"</h1>
        <hr>
        <p>
                <span style="font: normal normal normal 26px/50px SF UI Text;
                letter-spacing: 0.26px;">Инструкции</span>
            <br>
            <span style="font: normal normal normal 22px/50px SF UI Text;
                letter-spacing: 0.22px;">Аня и Боря любят играть в разноцветные кубики, причем у каждого из них свой набор и в каждом наборе все кубики различны по цвету. Однажды дети заинтересовались, сколько существуют цветов таких, что кубики каждого цвета присутствуют в обоих наборах. Для этого они занумеровали все цвета случайными числами от 0 до 108. На этом их энтузиазм иссяк, поэтому вам предлагается помочь им в оставшейся части. В первой строке входных данных записаны числа N и M — число кубиков у Ани и Бори. В следующих N строках заданы номера цветов кубиков Ани. В последних M строках номера цветов Бори. Найдите три множества: номера цветов кубиков, которые есть в обоих наборах; номера цветов кубиков, которые есть только у Ани и номера цветов кубиков, которые есть только у Бори. Для каждого из множеств выведите сначала количество элементов в нем, а затем сами элементы, отсортированные по возрастанию.</span>
            <br>
        </p>
        <hr>
        <iframe src="https://trinket.io/embed/python/93deb97b44" width="100%" height="356" frameborder="0"
                marginwidth="0" marginheight="0" allowfullscreen></iframe>
        <!-- <table height = "216px", width = "1289px", border = "2px"><tr><td></td></tr> -->
        </table>
    </div>
    </div>
{% endblock %}