{% extends "/base.html" %}
{% block title %}Угадай число - 2{% endblock %}
{% block body %}
    <div class="page">
        <h1 style="line-height: 40px;">Урок 10. Множества. Задача "Угадай число - 2"</h1>
        <hr>
        <p>
                <span style="font: normal normal normal 26px/50px SF UI Text;
                letter-spacing: 0.26px;">Инструкции</span>
            <br>
            <span style="font: normal normal normal 22px/50px SF UI Text;
                letter-spacing: 0.22px;">Инструкции Август и Беатриса продолжают играть в игру, но Август начал жульничать. На каждый из вопросов Беатрисы он выбирает такой вариант ответа <code
                    style="color:#22A10A">YES</code> или <code style="color:#22A10A">NO</code>, чтобы множество возможных задуманных чисел оставалось как можно больше. Например, если Август задумал число от 1 до 5, а Беатриса спросила про числа 1 и 2, то Август ответит <code
                    style="color:#22A10A">NO</code>, а если Беатриса спросит про 1, 2, 3, то Август ответит <code
                    style="color:#22A10A">YES</code>. Если же Бетриса в своем вопросе перечисляет ровно половину из задуманных чисел, то Август из вредности всегда отвечает <code
                    style="color:#22A10A">NO</code>. Наконец, Август при ответе учитывает все предыдущие вопросы Беатрисы и свои ответы на них, то есть множество возможных задуманных чисел уменьшается. Первая строка содержит наибольшее число, которое мог загадать Август. Каждая следующая строка содержит очередной вопрос Беатрисы: набор чисел, разделенных пробелами. Последняя строка входных данных содержит одно слово <code
                    style="color:#22A10A">HELP</code>. Для каждого вопроса Беатрисы выведите ответ Августа на этот вопрос. После этого выведите через пробел, в порядке возрастания, все числа, которые мог загадать Август после ответа на все вопросы Беатрисы.</span>
            <br>
        </p>
        <hr>
        <iframe src="https://trinket.io/embed/python/93deb97b44" width="100%" height="356" frameborder="0"
                marginwidth="0" marginheight="0" allowfullscreen></iframe>
        <!-- <table height = "216px", width = "1289px", border = "2px"><tr><td></td></tr> -->
        </table>
    </div>
    </div>
{% endblock %}