{% extends "/base.html" %}
{% block title %}Снежинка{% endblock %}
{% block body %}
    <div>
        <div class="page">
            <h1 style="line-height: 40px;">Урок 9. Двумерные массивы. Задача "Снежинка"</h1>
            <hr>
            <p>
                <span style="font: normal normal normal 26px/50px SF UI Text;
                letter-spacing: 0.26px;">Инструкции</span>
                <br>
                <span style="font: normal normal normal 22px/50px SF UI Text;
                letter-spacing: 0.22px;">Дано нечетное число n. Создайте двумерный массив из <code
                        style="color:#22A10A">n</code>×<code style="color:#22A10A">n</code> элементов, заполнив его символами <code
                        style="color:#22A10A">"."</code> (каждый элемент массива является строкой из одного символа). Затем заполните символами <code
                        style="color:#22A10A">"*"</code> среднюю строку массива, средний столбец массива, главную диагональ и побочную диагональ. В результате единицы в массиве должны образовывать изображение звездочки. Выведите полученный массив на экран, разделяя элементы массива пробелами.</span>
                <br>
            </p>
            <hr>
            <iframe src="https://trinket.io/embed/python/93deb97b44" width="100%" height="356" frameborder="0"
                    marginwidth="0" marginheight="0" allowfullscreen></iframe>
            <!-- <table height = "216px", width = "1289px", border = "2px"><tr><td></td></tr> -->
            </table>
        </div>
    </div>
{% endblock %}
         