{% extends "/base.html" %}
{% block title %}Родословная: LCA{% endblock %}
{% block body %}
    <div>
        <div class="page">
            <h1 style="line-height: 40px;">Урок 11. Словари. Задача "Родословная: LCA"</h1>
            <hr>
			<p>
                <span style="font: normal normal normal 26px/50px SF UI Text;
                letter-spacing: 0.26px;">Инструкции</span>
                <br>
			    <span style="font: normal normal normal 22px/50px SF UI Text;
                letter-spacing: 0.22px;">Инструкции В генеалогическом древе определите для двух элементов их наименьшего общего предка (Lowest Common Ancestor). Наименьшим общим предком элементов A и B является такой элемент C, что С является предком A, C является предком B, при этом глубина C является наибольшей из возможных. При этом элемент считается своим собственным предком. Формат входных данных аналогичен предыдущей задаче Для каждого запроса выведите наименьшего общего предка данных элементов.</span> 
                <br>
            </p>
            <hr>
            <iframe src="https://trinket.io/embed/python/93deb97b44" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
            <!-- <table height = "216px", width = "1289px", border = "2px"><tr><td></td></tr> -->
			</table>
        </div>
    </div>
{% endblock %}
