{% extends "/base.html" %}
{% block title %}Словари{% endblock %}
{% block body %}
    <div>
        <div class="page">
            <h1>Урок 11. </h1>
            <h2>1. Словари</h2>
			<p>Обычные списки (массивы) представляют собой набор пронумерованных элементов, то есть для обращения
			к какому-либо элементу списка необходимо указать его номер. Номер элемента в списке однозначно идентифицирует сам элемент.
			Но идентифицировать данные по числовым номерам не всегда оказывается удобно. Например, маршруты поездов в России идентифицируются численно-буквенным кодом
			(число и одна буква), также численно-буквенным кодом идентифицируются авиарейсы, то есть для хранения информации о рейсах поездов или самолетов
			в качестве идентификатора удобно было бы использовать не число, а текстовую строку.</p>
			<p> Структура данных, позволяющая идентифицировать ее элементы не по числовому индексу, а по произвольному, называется словарем или 
			ассоциативным массивом. Соответствующая структура данных в языке Питон называется <code style = "color:#22A10A">dict</code>.</p>
			<p> Рассмотрим простой пример использования словаря. Заведем словарь <code style = "color:#22A10A">Capitals</code>, где индексом является название страны, 
			а значением — название столицы этой страны. Это позволит легко определять по строке с названием страны ее столицу.</p>
			<iframe src="https://trinket.io/embed/python/f249955c38" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
			<p>Итак, каждый элемент словаря состоит из двух объектов: ключа и значения. В нашем примере ключом является название страны, значением является название столицы.
			Ключ идентифицирует элемент словаря, значение является данными, которые соответствуют данному ключу. Значения ключей — уникальны,
			двух одинаковых ключей в словаре быть не может.</p>
			<p> В жизни широко распространены словари, например, привычные бумажные словари (толковые, орфографические, лингвистические).
			В них ключом является слово-заголовок статьи, а значением — сама статья. Для того, чтобы получить доступ к статье, необходимо указать слово-ключ.</p>
			<p> Другой пример словаря, как структуры данных — телефонный справочник. В нем ключом является имя, а значением — номер телефона.
			И словарь, и телефонный справочник хранятся так, что легко найти элемент словаря по известному ключу
			(например, если записи хранятся в алфавитном порядке ключей, то легко можно найти известный ключ, например, бинарным поиском),
			но если ключ неизвествен, а известно лишь значение, то поиск элемента с данным значением может потребовать последовательного просмотра всех элементов словаря.</p>
			<p> Особенностью ассоциативного массива является его динамичность: в него можно добавлять новые элементы с произвольными ключами
			и удалять уже существующие элементы. При этом размер используемой памяти пропорционален размеру ассоциативного массива.
			Доступ к элементам ассоциативного массива выполняется хоть и медленнее, чем к обычным массивам, но в целом довольно быстро.</p>
			<p> В языке Питон ключом может быть произвольный неизменяемый тип данных: целые и действительные числа, строки, кортежи.
			Ключом в словаре не может быть множество, но может быть элемент типа frozenset: специальный тип данных, являющийся аналогом типа set,
			который нельзя изменять после создания. Значением элемента словаря может быть любой тип данных, в том числе и изменяемый.</p>
			<h2>Когда нужно использовать словари</h2>
			<p>Словари нужно использовать в следующих случаях:</p>
			<p> 1. Подсчет числа каких-то объектов. В этом случае нужно завести словарь, в котором ключами являются объекты, а значениями — их количество.</p>
			<p> 2. Хранение каких-либо данных, связанных с объектом. Ключи — объекты, значения — связанные с ними данные.
			Например, если нужно по названию месяца определить его порядковый номер, то это можно сделать при помощи словаря <code style = "color:#22A10A">Num['January'] = 1;
			Num['February'] = 2;</code> ....</p>
			<p> 3. Установка соответствия между объектами (например, “родитель—потомок”). Ключ — объект, значение — соответствующий ему объект.</p>
			<p> 4. Если нужен обычный массив, но максимальное значение индекса элемента очень велико, и при этом будут использоваться не все возможные индексы
			(так называемый “разреженный массив”), то можно использовать ассоциативный массив для экономии памяти.</p>
			<h2>Создание словаря</h2>
			<p>Пустой словарь можно создать при помощи функции <code style = "color:#22A10A">dict()</code> или пустой пары
			фигурных скобок <code style = "color:#22A10A">{} </code>(вот почему фигурные скобки нельзя использовать для создания пустого множества).
			Для создания словаря с некоторым набором начальных значений можно использовать следующие конструкции:</p>
			<iframe src="https://trinket.io/embed/python/dbfc047b6b" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
			<p>Первые два способа можно использовать только для создания небольших словарей, перечисляя все их элементы.
			Кроме того, во втором способе ключи передаются как именованные параметры функции <code style = "color:#22A10A">dict</code>, поэтому в этом случае
			ключи могут быть только строками, причем являющимися корректными идентификаторами. В третьем и четвертом случае
			можно создавать большие словари, если в качестве аргументов передавать уже готовые списки, которые могут быть
			получены не обязательно перечислением всех элементов, а любым другим способом построены по ходу исполнения программы.
			В третьем способе функции <code style = "color:#22A10A">dict</code> нужно передать список, каждый элемент которого является кортежем из двух элементов: ключа и значения.
			В четвертом способе используется функция <code style = "color:#22A10A">zip</code>, которой передаются два списка одинаковой длины: список ключей и список значений.</p>
			<h2>4.Работа с элементами словаря</h2>
			<p>Основная операция: получение значения элемента по ключу, записывается так же, как и для списков: <code style = "color:#22A10A">A[key]</code>. 
			Если элемента с заданным ключом нет в словаре,то возникает исключение <code style = "color:#22A10A">KeyError</code>.</p>
			<p> Другой способ определения значения по ключу — метод <code style = "color:#22A10A">get: A.get(key)</code>. Если элемента с ключом <code style = "color:#22A10A">get</code> нет
			в словаре, то возвращается значение <code style = "color:#22A10A">None</code>.
			В форме записи с двумя аргументами <code style = "color:#22A10A">A.get(key, val)</code> метод возвращает значение <code style = "color:#22A10A">val</code>,
			если элемент с ключом <code style = "color:#22A10A">key</code> отсутствует в словаре.</p>
			<p> Проверить принадлежность элемента словарю можно операциями <code style = "color:#22A10A">in</code> и <code style = "color:#22A10A">not in</code>, как и для множеств.</p>
			<p> Для добавления нового элемента в словарь нужно просто присвоить ему какое-то значение: <code style = "color:#22A10A">A[key] = value</code>.</p>
			<p> Для удаления элемента из словаря можно использовать операцию <code style = "color:#22A10A">del A[key]</code> (операция возбуждает исключение <code style = "color:#22A10A">KeyError</code>,
			если такого ключа в словаре нет. Вот два безопасных способа удаления элемента из словаря.</p>
			<iframe src="https://trinket.io/embed/python/9e6a64718b" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
			<p>В первом случае мы предварительно проверяем наличие элемента, а во втором - перехватываем и обрабатываем исключение.</p>
			<p> Еще один способ удалить элемент из словаря: использование метода <code style = "color:#22A10A">pop: A.pop(key)</code>. 
			Этот метод возвращает значение удаляемого элемента, если элемент с данным ключом отсутствует в словаре, 
			то возбуждается исключение. Если методу <code style = "color:#22A10A">pop</code> передать второй параметр, то если элемент в словаре отсутствует,
			то метод <code style = "color:#22A10A">pop</code> возвратит значение этого параметра. Это позволяет проще всего организовать
			безопасное удаление элемента из словаря: <code style = "color:#22A10A">A.pop(key, None)</code>.</p>
			<h2>Перебор элементов словаря</h2>
			<p>Можно легко организовать перебор ключей всех элементов в словаре:</p>
			<iframe src="https://trinket.io/embed/python/c0167062a5" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
			<p>Следующие методы возвращают представления элементов словаря. Представления во многом похожи на множества, но они изменяются,
			если менять значения элементов словаря. Метод <code style = "color:#22A10A">keys</code> возвращает представление ключей всех элементов,
			метод <code style = "color:#22A10A">values</code> возвращает представление всех значений,
			а метод <code style = "color:#22A10A">items</code> возвращает представление всех пар (кортежей) из ключей и значений.</p>
			<p> Соответственно, быстро проверить, есть ли значение <code style = "color:#22A10A">val</code> среди всех значений элементов словаря <code style = "color:#22A10A">A</code> можно 
			так: <code style = "color:#22A10A">val in A.values()</code> ,
			а организовать цикл так, чтобы в переменной <code style = "color:#22A10A">key</code> был ключ элемента,
			а в переменной <code style = "color:#22A10A">val</code>, было его значение можно так:</p>
			<iframe src="https://trinket.io/embed/python/977a4a1704" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}
     