{% extends "/base.html" %}
{% block title %}Продажи{% endblock %}
{% block body %}
    <div>
        <div class="page">
            <h1 style="line-height: 40px;">Урок 11. Словари. Задача "Продажи"</h1>
            <hr>
			<p>
                <span style="font: normal normal normal 26px/50px SF UI Text;
                letter-spacing: 0.26px;">Инструкции</span>
                <br>
			    <span style="font: normal normal normal 22px/50px SF UI Text;
                letter-spacing: 0.22px;">Инструкции Дана база данных о продажах некоторого интернет-магазина. Каждая строка входного файла представляет собой запись вида Покупатель товар количество, где Покупатель — имя покупателя (строка без пробелов), товар — название товара (строка без пробелов), количество — количество приобретенных единиц товара. Создайте список всех покупателей, а для каждого покупателя подсчитайте количество приобретенных им единиц каждого вида товаров. Список покупателей, а также список товаров для каждого покупателя нужно выводить в лексикографическом порядке.</span> 
                <br>
            </p>
            <hr>
            <iframe src="https://trinket.io/embed/python/93deb97b44" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
            <!-- <table height = "216px", width = "1289px", border = "2px"><tr><td></td></tr> -->
			</table>
        </div>
    </div>
{% endblock %}
         