{% extends "/base.html" %}
{% block title %}Hello, %username!{% endblock %}
{% block body %}
      <div>
        <div class="page">
            <h1>Урок 1. Операторы ввода и вывода. Задача "Hello, %username!"</h1>
            <hr>
			<p>
                <span style="font: normal normal normal 26px/50px SF UI Text;
                letter-spacing: 0.26px;">Инструкции</span>
                <br>
                <span style="font: normal normal normal 22px/50px SF UI Text;
                letter-spacing: 0.22px;">Напишите программу, которая приветствует пользователя, выводя слово Hello, введенное имя и знаки препинания по образцу (см. пример входных и выходных данных). Программа должна считывать в строковую переменную значение и писать соответствующее приветствие. Обратите внимание, что после запятой должен обязательно стоять пробел, а перед восклицательным знаком пробела нет. Операцией конкатенации строк (+) пользоваться нельзя.</span>
                <br>
                <span style="font: normal normal normal 26px/50px SF UI Text;
                letter-spacing: 0.26px;">Формат ввода</span>
                <br>
                <span style="font: normal normal normal 22px/50px SF UI Text;
                letter-spacing: 0.22px;"> Вводится строка, длина которой не превышает 100 символов.</span>
                <br>
                <span style="font: normal normal normal 26px/50px SF UI Text;
                letter-spacing: 0.26px;">Формат вывода</span>
                <br>
                <span style="font: normal normal normal 22px/50px SF UI Text;
                letter-spacing: 0.22px;">Выведите ответ на задачу.</span>
            </p>
            <hr>
            <div class="compile">
                <textarea style="background-color: #FFFFFF; width: 100%;" name="my-markdown-editor" data-editor="markdown"  data-gutter="1"  cols="90" rows="50" id="yourcode">




                </textarea>
                <button type="button" onclick="runit()">Запустить</button>
                <button type="button1" onclick="runit()">Отправить на проверку</button>
                <div class="answer-compile">
                    <pre id="output"></pre>
                </div> 
            </div>
        </div>
    </div>
{% endblock %}



         