{% extends "/base.html" %}
{% block title %}Следующее и предыдущее{% endblock %}
{% block body %}
    <div>
        <div class="page">
            <h1>Урок 1. Операторы ввода и вывода. Задача "Следующее и предыдущее"</h1>
            <hr>
            <p>
                <span style="font: normal normal normal 26px/50px SF UI Text;
                letter-spacing: 0.26px;">Инструкции</span>
                <br>
                <span style="font: normal normal normal 22px/50px SF UI Text;
                letter-spacing: 0.22px;">Напишите программу, которая считывает целое число и выводит текст, аналогичный приведенному в примере (важно в точности соблюдать вывод программы: обратите внимание на пробелы и на точки). Нельзя пользоваться конкатенацией строк, используйте print с несколькими параметрами.</span>
                <br>
                <span style="font: normal normal normal 26px/50px SF UI Text;
                letter-spacing: 0.26px;">Формат ввода</span>
                <br>
                <span style="font: normal normal normal 22px/50px SF UI Text;
                letter-spacing: 0.22px;">Вводится целое число (гарантируется, что число находится в диапазоне от -1000 до +1000).</span>
                <br>
                <span style="font: normal normal normal 26px/50px SF UI Text;
                letter-spacing: 0.26px;">Формат вывода</span>
                <br>
                <span style="font: normal normal normal 22px/50px SF UI Text;
                letter-spacing: 0.22px;">Выведите две строки, согласно образцу.</span>
            </p>
            <hr>
            <div class="compile">
                <textarea style="background-color: #FFFFFF; width: 100%;" name="my-markdown-editor" data-editor="markdown"  data-gutter="1"  cols="90" rows="50" id="yourcode">





                </textarea>
                <button type="button" onclick="runit()">Запустить</button>
                <button type="button1" onclick="runit()">Отправить на проверку</button>
                <div class="answer-compile">
                    <pre id="output"></pre>
                </div> 
            </div>
        </div>
    </div>
{% endblock %}




         