<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Питониум. О сайте</title>
    <link rel="stylesheet" href="static/css/style_about.css">
</head>
<body>
    <header>
        <a href="index.html">
            <span class="header-text">Пит<img class = "header-img" src="/static/image/pyth_logo.png" alt="LOGO">ниум</span>
        </a>
        <a href=""><span class="header-info">О сайте</span></a>
    </header>
    <div class="page">
        <h1 class="page-text" style="margin-top: 100px;">О сайте<img src="/static/image/pyth_sin_logo.png" alt="LOGO SINUS" class="page-img"></h1>
        <h2 class="page-text-about">Сайт создан в рамках проекта по предмету проектная деятельность с целью предоставить простой и понятный курс по языку программирования Python</h2>
        <h1 class="page-text" style="margin-top: 50px;">Разработчики</h1>
        <table>
            <tr>
                <td valign="top" align="middle">
                    <h2 class="role" style="margin-top: 36px; height: 100px;">Архитектор<img class="icons" src="static/icons/arch_icon.png" alt=""></h2>
                    <span class="work" style="margin-bottom: 52px;">Основная концепция и реализация</span><br>
                    <span class="name">Сысоев Никита</span>
                </td>
                <td valign="top" align="middle">
                    <h2 class="role" style="margin-top: 36px; height: 100px;">Дизайнер<img class="icons" src="/static/icons/design_icon.png" alt=""></h2>
                    <span class="work" style="margin-bottom: 75px;">Художественное оформление</span><br>
                    <span class="name">Козырь Дмитрий</span>
                </td>
                <td valign="top" align="middle">
                    <h2 class="role" style="margin-top: 12px; height: 124px;">Frontend-Разработка<img class="icons" src="/static/icons/front_logo.png" alt=""></h2>
                    <span class="work" style="margin-bottom: 75px;">Вёрстка шаблона сайта</span><br>
                    <span class="name">Лузан Евгений</span>
                </td>
                <td valign="top" align="middle">
                    <h2 class="role" style="margin-top: 12px; height: 124px;">Backend-Разработка<img class="icons" src="/static/icons/back_icon.png" alt=""></h2>
                    <span class="work" style="margin-bottom: 55px;">Логика и каркас сайта</span><br>
                    <span class="name">Добровольский Сергей</span>
                </td>
                <td valign="top" align="middle">
                    <h2 class="role" style="margin-top: 36px; height: 100px;">Data Science<img class="icons" src="/static/icons/ds_icon.png" alt=""></h2>
                    <span class="work" style="margin-bottom: 32px;">Моделирование и<br>визуализация данных</span><br>
                    <span class="name">Курбацкий Владислав</span>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>