{% extends "/base.html" %}
{% block title %}Длина отрезка{% endblock %}
{% block body %}
    <div>
        <div class="page">
            <h1 style="line-height: 40px;">Урок 8. Функции и рекурсия. Задача "Длина отрезка"</h1>
            <hr>
            <p>
                <span style="font: normal normal normal 26px/50px SF UI Text;
                letter-spacing: 0.26px;">Инструкции</span>
                <br>
                <span style="font: normal normal normal 22px/50px SF UI Text;
                letter-spacing: 0.22px;">Даны четыре действительных числа: x1, y1, x2, y2. Напишите функцию <code
                        style="color:#22A10A">distance(x1, y1, x2, y2)</code>, вычисляющая расстояние между точкой (x1,y1) и (x2,y2). Считайте четыре действительных числа и выведите результат работы этой функции. Используйте теорему Пифагора.</span>
                <br>
            </p>
            <hr>
            <iframe src="https://trinket.io/embed/python/93deb97b44" width="100%" height="356" frameborder="0"
                    marginwidth="0" marginheight="0" allowfullscreen></iframe>
            <!-- <table height = "216px", width = "1289px", border = "2px"><tr><td></td></tr> -->
            </table>
        </div>
    </div>
{% endblock %}




         