{% extends "/base.html" %}
{% block title %}Отрицательная степень{% endblock %}
{% block body %}
    <div>
        <div class="page">
            <h1 style="line-height: 40px;">Урок 8. Функции и рекурсия. Задача "Отрицательная степень"</h1>
            <hr>
            <p>
                <span style="font: normal normal normal 26px/50px SF UI Text;
                letter-spacing: 0.26px;">Инструкции</span>
                <br>
                <span style="font: normal normal normal 22px/50px SF UI Text;
                letter-spacing: 0.22px;">Дано действительное положительное число a и целоe число n. Вычислите an. Решение оформите в виде функции <code
                        style="color:#22A10A">power(a, n)</code>. Стандартной функцией возведения в степень пользоваться нельзя.</span>
                <br>
            </p>
            <hr>
            <iframe src="https://trinket.io/embed/python/93deb97b44" width="100%" height="356" frameborder="0"
                    marginwidth="0" marginheight="0" allowfullscreen></iframe>
            <!-- <table height = "216px", width = "1289px", border = "2px"><tr><td></td></tr> -->
            </table>
        </div>
    </div>
{% endblock %}