{% extends "/base.html" %}
{% block title %}Разворот последовательности{% endblock %}
{% block body %}
    <div>
        <div class="page">
            <h1 style="line-height: 40px;">Урок 8. Функции и рекурсия. Задача "Разворот последовательности"</h1>
            <hr>
            <p>
                <span style="font: normal normal normal 26px/50px SF UI Text;
                letter-spacing: 0.26px;">Инструкции</span>
                <br>
                <span style="font: normal normal normal 22px/50px SF UI Text;
                letter-spacing: 0.22px;">Дана последовательность целых чисел, заканчивающаяся числом 0. Выведите эту последовательность в обратном порядке. <br>При решении этой задачи нельзя пользоваться массивами и прочими динамическими структурами данных. Рекурсия вам поможет.</span>
                <br>
            </p>
            <hr>
            <span style="color: #FF0000;">Эту задачу невозможно решить самостоятельно. Обратитесь к своему преподавателю за помощью.</span>
            <iframe src="https://trinket.io/embed/python/93deb97b44" width="100%" height="356" frameborder="0"
                    marginwidth="0" marginheight="0" allowfullscreen></iframe>
            <!-- <table height = "216px", width = "1289px", border = "2px"><tr><td></td></tr> -->
            </table>
        </div>
    </div>
{% endblock %}
         