{% extends "/base.html" %}
{% block title %}Переставить соседние{% endblock %}
{% block body %}
    <div>
        <div class="page">
            <h1>Урок 7. Списки. Задача "Переставить соседние"</h1>
            <hr>
			 <p>
                <span style="font: normal normal normal 26px/50px SF UI Text;
                letter-spacing: 0.26px;">Инструкции</span>
                <br>
			    <span style="font: normal normal normal 22px/50px SF UI Text;
                letter-spacing: 0.22px;">Переставьте соседние элементы списка (A[0] c A[1], A[2] c A[3] и т. д.). Если элементов нечетное число, то последний элемент остается на своем месте.</span>
                <br>
                <span style="font: normal normal normal 26px/50px SF UI Text;
                letter-spacing: 0.26px;">Формат ввода</span>
                <br>
                <span style="font: normal normal normal 22px/50px SF UI Text;
                letter-spacing: 0.22px;">Программа получает на вход список целых чисел.</span>
                <br>
                <span style="font: normal normal normal 26px/50px SF UI Text;
                letter-spacing: 0.26px;">Формат вывода</span>
                <br>
                <span style="font: normal normal normal 22px/50px SF UI Text;
                letter-spacing: 0.22px;">Выведите ответ на задачу.</span>
            </p>
            <hr>
            <div class="compile">
                <textarea style="background-color: #FFFFFF; width: 100%;" name="my-markdown-editor" data-editor="markdown"  data-gutter="1"  cols="90" rows="50" id="yourcode">




                </textarea>
                <button type="button" onclick="runit()">Запустить</button>
                <button type="button1" onclick="runit1()">Отправить на проверку</button>
                <div class="answer-compile">
                    <pre id="output"></pre>
                </div>
            </div>
        </div>
    </div>
{% endblock %}